<div class="header">
	<div class="header-left">
		<h2>Top</h2>
	</div>
	<div class="header-right">
		<ul>
			<li>Top</li>
			<li>About</li>
			<li>Inquiry</li>
			<li>Sing Up</li>
		</ul>
	</div>
</div>
<div class="main">
	<div class="contents">
	     <h1>Welcom to Tomonori_App</h1>
		<p>このアプリケーションは、試作品です。</p>
	</div>
</div>
