// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
*{
	margin: 0px;
	padding-bottom: 0px;
}
.header{
	height: 80px;
	width: 100%;
	background-color: black;
}
.header-left{
	float: left;
}
.header-left h2{
	color: white;
	margin: 20px;
}
.header-right{
	float: right;
}
.header-right li{
	float: left;
	list-style: none;
	margin:20px;
	color: white;
}
.main{
	height: 1000px;
	width: 100%;
}
.contents{
	width: 100%;
	height: 300px;
	background-color: aqua;
}
.contents h1,p{
	color:red;
}
